<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/localisation.css') }}">
        <script src="{{ url_for('static', filename='js/localisation.js') }}" defer></script>
    
        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    
        <link rel="icon" type="image/png" href="/static/img/iconDataCup.jpeg">
        <title>Localisation</title>
    </head>
</head>
<body>
    {% include 'dashboard/navbar.html' %}

    <div class="container">
        <h1 class="title-loc">Localisation des SHIELD </h1>

        <div class="select">
            <label>Choisir une Ferme :</label>
            <select id="shieldSelect" onchange="loadSensors()">
                <!-- Options de fermes générées dynamiquement -->
            </select>
        </div>
        
        <div class="select">
            <label>Choisir un capteur :</label>
            <select id="sensorSelect" onchange="loadSensorData()">
                <!-- Dynamically filled based on shield -->
            </select>
        </div>
        
        <div class="containers" id="sensorInfo">
            <div>Longitude : <span id="longitude"></span></div>
            <div>Latitude : <span id="latitude"></span></div>
        </div>
    </div>


    <div class="map-containers">
        <div id="map"></div>
    </div>
    
</body>
</html>